.contentLine {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  max-width: 900px;
}
.button {
  margin: 20px 0px;
}
@media screen and (max-width: 850px) {
  .contentLine {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 570px) {
  .contentLine {
    grid-template-columns: repeat(1, 1fr);
  }
}
