.buttonsGroup {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 2rem;
  font-weight: 600;
  margin: 20px 0px;
}
.active {
  background-color: rgba($color: #7247eb, $alpha: 1);
}
@media screen and (max-width: 510px) {
  .buttonsGroup {
    font-size: 1.5rem;
    flex-direction: column;
    gap: 20px;
    margin: 0px;
    margin-bottom: 20px;
  }
}
